<div class="container p-5 d-flex flex-column align-items-center">
  <h2 class="text-center m-5">Editar Película</h2>
  <form (ngSubmit)="onSubmit()" #form="ngForm" class="w-50 d-flex flex-column">
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre</label>
      <input [(ngModel)]="movie.nombre" type="text" name="nombre" class="form-control" id="nombre" maxlength="65">
    </div>
    <div class="mb-3">
      <label for="imagen" class="form-label">URL Imagen</label>
      <input [(ngModel)]="movie.imagen" type="text" name="imagen" class="form-control" id="imagen" maxlength="365">
    </div>
    <button type="submit" class="btn btn-info align-self-end w-25 m-4">Editar</button>
  </form>
</div>